azure-identity>=1.17.1
azure-keyvault-secrets>=4.8.0
msal>=1.29.0
requests>=2.32.3
pandas>=2.2.2
openpyxl>=3.1.2
xlrd>=2.0.1
olefile>=0.47
pyarrow>=15.0.0
python-dotenv>=1.0.1
SQLAlchemy>=2.0.31
pyodbc>=5.1.0
psutil>=6.0.0
